* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f8f9fa;
    color: #333;
}

.container {
    width: 80%;
    margin: 0px 100px;
    padding: 0px 48px;
}

/* Navbar */
.navbar {
    background: #212529;
    padding: 15px 0;
}

.navbar .logo {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    float: right;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    color: #ddd;
    text-decoration: none;
}

.nav-links a.active, .nav-links a:hover {
    color: #fff;
}

/* Hero Section */
.hero {
    background: white;
    padding: 50px 0;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image{
    padding: 0px 24px;
}

.hero-image {
    width: 654px;
    /* padding: 0px 24px; */
    text-align: center;
    border-radius: 5px;
    height: 268.44px;

}

.hero .text {
    width: 45%;
}

.hero h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 15px;
}

.btn {
    background: #007bff;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #0056b3;
}

/* Call to Action */
.cta {
    background: #6c757d;
    color: #fff;
    text-align: center;
    padding: 40px 0px;
    margin-bottom: 48px;
    border-radius: 5px;
    font-size: 16px;
}


.card-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Ensures all cards are the same height */
    margin: 0px 0px 48px;
}

/* Individual card styles */
.card {
    border-radius: 5px;
    display: flex; /* Make the card a flex container */
    flex-direction: column; /* Arrange children vertically */
    justify-content: space-between; /* Space out the top and bottom sections */
    flex: 1;
    max-width: 312px;
    border: 1px solid lightgray;
    background-color: white;
}

/* Top section of the card */
.card-top {
    padding: 16px;
}

/* Bottom section of the card */
.card-bottom {
    background-color: #00000008;
    border-top: 1px solid lightgray;
    padding: 8px 16px;
}

/* Card heading */
.card h3 {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 8px;
}

/* Card paragraph */
.card p {
    font-size: 16px;
    line-height: 1.5;
}

/* Button styles */
.card button {
    border-radius: 5px;
    border-color: #0d6efd;
    border-width: 1px;
    background-color: #0d6efd;
    color: white;
    padding: 7px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0b5ed7;
}


/* Footer */
footer {
    background: #212529;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}